header {
    background-color: blue;
    color: white;
    padding: 20px;
    grid-area: header;
    
    }
    nav {
    background-color: yellow;
    grid-area: nav;
    }
    main {
    background-color: darkblue;
    color: white;
    grid-area: main;
    
    }
    aside {
    background-color: lightgreen;
    grid-area: aside;
    }
    footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
    }
      
    body {  
        display: grid;
       grid-template-columns: (60% 100% 60%);
       grid-template-rows: 100% 60% 100%;
        grid-template-areas: "header header header"
                               "nav main aside"
        
                               
                               "footer footer footer";
        
      }